#ideaTittle{
	font-size: 2.3em;
	margin: 10px 0 5px 0;
	background-color: rgb(255, 194, 82);
	font-weight: bold;
	padding: 10px;
	width: 100%;
}
#ideaGroup{
	color: #000000;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	width: 80%;
	margin: 0 auto 0 auto;
}
#addIdea{
	margin: 20px 0 20px 0;
	border: 2px solid #5B88D9;
	display: flex;
	flex-direction: column;
	width: 30%;
	padding: 20px;
	border-radius: 10px;
	justify-content: left;
	font-size: 1.2em;
	color: #000000;
	text-decoration: none;
}
#addIdea:hover{
	cursor: pointer;
	background-color: #5B88FF;
	text-decoration: none;
}
#ideaBox{
	color: #000000;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
}
#ideaSecondTittle{
	font-size: 2.3em;
	background-color: rgb(255, 194, 82);
	font-weight: bold;
	padding: 10px;
	width: 100%;
	margin: 0;
}
.picturesIdea{
	width: 280px;
	height: 280px;
	border-radius: 10px;
}
#ideaContent{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 20px 0 20px 0;
}
.ideaListAll{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 5px double #000000;
	padding: 20px;
	margin: 10px 10px 0 10px;
}
.titleIdeaList{
	border: 2px dotted #000000;
	padding: 10px;
	width: 100%;
	border-radius: 10px;
}
.descriptionIdea{
	border: 2px dashed #000000;
	padding: 10px;
	width: 250px;
	border-radius: 10px;
	height: 150px;
	margin-bottom: 0;
	overflow: scroll;
	overflow-x: hidden;
	overflow-wrap: break-word;
}
.likePicture{
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.barLike{
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 20px;
}
.vote{
	color: #5B88D9;
	font-size: 20px;
	font-weight: bold;
}

.connectNeed{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid #5B88D9;
	padding: 20px;
	border-radius: 10px;
}
.redirectLogin{
	text-decoration: none;
	color: #000000;
	width: 30%;
}
.connectNeed:hover{
	background-color: #5B88D9;
}
.linkDeleteIdea{
	text-decoration: none;
}
.deleteIdea{
	color: #000000;
	font-weight: bold;
	border: 2px solid red;
	border-radius: 10px;
	width: 100%;
	padding: 10px;
}
.deleteIdea:hover{
	background-color: red;
}
.adminPanel{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.addIdeaToEvent{
	width: 50px;
	height: 50px;
}
#flexFormulEvent{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000000;
}
#EventAddTitle{
	background-color: rgb(255, 194, 82);
	width: 40%;
	padding: 20px;
	margin: 20px 0 0 0;
}
@media screen and (max-width: 1224px){
	.ideaListAll{
		width: 70%;
	}
	.eventListAll{
		width: 70%;
	}
	#ideaTittle, #ideaSecondTittle, #EventAddTitle{
		width: 80%;
	}
	.descriptionIdea{
		width: 90%;
	}
	#formContact, #contactTittle{
		width: 80%;
	}
	input{
		font-size: 28px;
	}
	#submit{
		width: 50%;
		height: 80px;
		font-size: 28px;
	}
	#contactTittle{
		font-size: 30px;
	}
	.signuptoevent {
		width: 100%;
	}
}