#shopGroup{
	color: #000000;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	width: 80%;
	margin: 10px auto 20px auto;
}

.shopSize{
	color: #000000;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
	margin: auto;
}

#shopTittle{
	font-size: 2.3em;
	margin: 0 0 5px 0;
	background-color: rgb(255, 194, 82);
	font-weight: bold;
	width: 100%;
	padding: 10px;
}

.articleShop{
	height: 200px;
	width: 300px;
	border-radius: 10px;
}

.panierShopping{
	padding: 10px;
	margin: 5px 20px 5px 20px;
	border: 2px solid #5B88D9;
	border-radius: 10px;
	text-decoration: none;
	width: 24%
}

.namecategoryShop{
	font-size: 1.7em;
	text-align: center;
	border: 2px solid #000000;
	padding: 3%;
	margin: 0;
	color: #000000;
	background-color: #5B88D9;
	border-radius: 10px;
}

#panierShop{
	border-radius: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 30px;
	width: 30px;
}
.carouImg{
	height: 280px;
	width: 280px !important;
}
.clickOnSlide{
	height: 20px !important;
	width: 80px !important;
	background-color: #E9E9E8 !important;
}
.slide{
	height: 340px;
}
.carousel-indicators li.active{
	background-color: #5B88D9 !important;
}
#slideSearchBarre{
	width: 100%;
	background-color: #000000;
	color: #ffffff;
}
#sortBy{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
#selecte{
	display: flex;
	align-items: center;
	width: 30%;
}
#selecte p{
	margin: 0 10px 0 0;
}
#autocomplete{
	width: 100%;
	text-align: left;
	padding: 5px;
}
#auto{
	width: 30%;
	display: flex;
	align-items: center;
}
h3{
	margin-bottom: 0;
}
#choose{
	width: 100%;
}
#chooseForm{
	width: 80%;
}
#popularity{
	margin: 20px 0 20px 0;
	font-size: 24px;
}
#listArticalShop{
	font-size: 24px;
	margin-top: 0;
}
#listAllArticleShop{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.oneArticleShop{
	border-radius: 10px;
	border: 5px double #000000;
	margin: 10px;
	width: 300px;
	height: 100%;
	padding: 10px;
}
.picturesShop{
	width: 280px;
	height: 280px;
}
.miseCSS{
	border: 2px dotted #5B88D9;
	border-radius: 10px;
	color: red;
	font-weight: bold;
}
.magtop{
	margin-top: 0;
}
.margbot{
	margin-bottom: 0;
}
.titleArticleShop{
	border-radius: 10px;
	border: 2px solid #000000;
}
.commentArticleShop{
	overflow-y: scroll;
	height: 100px;
	border-radius: 10px;
	border: 1px dashed #000000;
}
.addToPanier{
	color: #000000;
	border-radius: 10px;
	border: 2px solid green;
	padding: 10px;
}
.addToPanier:hover{
	text-decoration: none;
	background-color: green;
}